* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden; /* biar bener2 fullscreen */
}

/* HAPUS background padding */
body {
    background: #1d1d1d;
}

/* FULLSCREEN WRAPPER */
.layout {
    width: 100%;
    height: 100%;
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 260px;
    background: #2d416d;
    color: white;
    border-radius: 0; /* full layout, jadi ga ada radius */
    padding: 18px 16px;
    transition: width .25s ease, padding .25s ease;
}

/* SIDEBAR MINIMIZED */
.sidebar.minimized {
    width: 60px;
    padding: 18px 6px;
}

.sidebar.minimized .menu p,
.sidebar.minimized .label {
    opacity: 0;
    pointer-events: none;
}

.sidebar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Icon Buttons */
.icon-btn {
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
    color: white;
}

.list-icon svg {
    display: block;
}

/* MENU ITEMS */
.menu {
    margin-top: 35px;
}

.menu-item {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 18px;
    opacity: 0.95;
}

.icon {
    width: 18px;
}

.label {
    margin-top: 30px;
    font-size: 14px;
    opacity: 0.65;
}

/* MAIN CHAT PANEL (full height) */
.chat-panel {
    flex: 1;
    background: #8ab0dd;
    position: relative;
    
    /* TAMBAHAN INI */
    display: flex;
    flex-direction: column;
}

/* AREA CHAT ATAS */
.chat-messages {
  flex: 1;                 /* isi sisa tinggi di atas input */
  overflow-y: auto;
  padding: 16px;
}

/* FORM INPUT BAWAH */
.input-area {

    margin: 18px;
    background: white;
    height: 58px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    gap: 15px;
}

.input-area input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
}

.send {
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
    color: #2d416d;
}


/* INI STYLE BUAT CHAT YA */


.chat-messages {
  height: calc(100vh - 80px); /* sesuaikan dengan tinggi input bar kamu */
  overflow-y: auto;
  padding: 16px;
}

.bubble {
  max-width: 60%;
  padding: 10px 14px;
  margin-bottom: 8px;
  border-radius: 16px;
  font-size: 14px;
}

.bubble-user {
  background: #ffffff;
  margin-left: auto;
}

.bubble-bot {
  background: #23436a;
  color: #ffffff;
  margin-right: auto;
}
